<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"  content="width device-width" initial-scale="1">
    <title>My Catalog</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    <!-- my styles -->
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" href="../css/empPages.css" >

</head>

<body>

	

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" id="navv">
        
        <div class="container topnav">
            
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                   
                </button>
                <a class="navbar-brand topnav" href="../index.html" > SmallBoulo </a>
            </div>
            

            <!-- Collect the nav links, forms, and other content for toggling ,go-to structure -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="../worker/workerHomeSearch.html">Search<span class="glyphicon glyphicon-search"></span></a>
                    </li>
                    <li class="active">
                        <a href="../worker/wProfile.html">My Profile<span class="glyphicon glyphicon-user"></span></a>
                    </li>
                    <li>
                        <a id="logoutBtn" href="#logoutBtn" class="empLogOut">Log Out<span class="glyphicon glyphicon-log-out"></span></a>
                    </li>
                </ul>
            </div> <!-- .navbar-collapse -->   

        </div><!-- /.container -->
    </nav><!-- naivagtion -->

    
    <div class="pageContent">
        <div class="container">
            <div class="row">
                
                <div class="col-md-2"> 
                    <!-- left image section --> 
                    <img class="img img-reponsive img-thumbnail" src="../pics/sb2.png" alt="employer picture" width="185px" height="200px">
                    <h3 id="workerName"> pitson borellio </h3>
                    
                    <div class="clearfix"></div>

                    <!-- leftmost side links -->
                    <ul class="list-unstyled">
                        <li><a href="../worker/catalog.html" id="whenWorkerActive"> My Work </a><li>
                        <br>
                        <li><a href="../worker/wNotifications.html" id="workerColor"> Notifications <span class="badge">15</span></a></lI>
                    </ul>                       
                   
                </div>

                  <!-- dashboard -->
                  <div class="col-md-10">
                    <!-- Write new code here-->

                  </div>
                  <!-- closing of dashboard -->

                 
            </div>
        </div>

    </div>


</body>

<!-- Firebase initalization script -->

  <script src="https://www.gstatic.com/firebasejs/4.1.5/firebase.js"></script>
  <script src="../scripts/initWorkerFirebase.js"></script>

  <!-- jquery script -->
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
  </script> 
  <!-- offline jquery version -->
  <script type="text/javascript" src="../script/jquery-3.2.1.min.js"></script>

  <!-- this are my personal scripts -->
  <script type="text/javascript" src="../scripts/worker.js"></script>
  
</html>
	  	
